.card-grossiste{
     display:-ms-flexbox;
	 display: flex;
    justify-content: center;

    .grosiste-card{
     width: 328px;
    overflow: hidden;
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px #00000070;
    margin-bottom: 50px;
     transition: all 0.3s;
      transform: scale(1);
      &:hover{ 
      	 transform: scale(1.1);
      }
    .fa-envelope{
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
     font-family: FontAwesome;
    right: 40px;
    position: absolute;
    top: 40px;
    font-size: 20px;
    cursor: pointer;
   color: #4ccfe0;
   font-size: 25px;
    &:before{
     content: "\f0e0";
      }
      }

      .logo-grosiste{  
      	display: -ms-flexbox;
         display: flex;
		 text-align: center;
		 align-content: center;
		 justify-content: center;
	     align-items: center;		 
	    width: 150px;
	    height: 150px;
	    margin: auto;
	    margin-bottom: 20px;
	    border: 2px solid #4ccfe0;
	    border-radius: 50%;
	    padding: 8px;
	    position: relative;
	         &::after{
			    content: '';
			    width: 100%;
			    height: 100%;
			    position: absolute;
			    border: 1px solid #4ccfe0;
			    left: 0;
			    top: 0;
			    box-sizing: border-box;
			    border-radius: 50%;
			    animation: wave 1.5s linear;
         }
     }
     @keyframes wave {
     to {
    transform: scale(1.5);
    opacity: 0;
  }
 }
  .top-section{
  	    padding: 60px 0px 33px 0;
        background: #e9ecef;
 
}
.hover-card:hover{
   .logo-grosiste{ 
	    &::after{
         animation: wave 1.5s infinite linear;
	  } 
     }
	}
    .raison-sociale{
    	color: #235196;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    }
    .bottom-section{
     background: #ffffff;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    padding: 24px 0;
}
    
}
.telephone{
	 color: #000;
    letter-spacing: 1px;

}
.telephone:before{
	    content:"\f095";
	    font-size: 25px;
        padding: 10px;
        color: #235196;
       font-weight: 400;
       font-family: FontAwesome;
}

.social-media{
	display: -ms-flexbox;
	 display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: -20px;
    left: 0;
    z-index: 1;
}

.fa-facebook,.fa-link{
     width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #f1f1f1;
    font-size: 20px;
    line-height: 36px;
    margin: 0 10px;
    position: relative;
}
.fa-facebook:before {
    content:"\f230";
    font-size: 19px;
     padding: 10px;
     color: #235196;
    font-weight: 400;
    font-family: FontAwesome;
    color:#fff;
}

.fa-facebook::after ,.fa-link::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #235196;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s linear;

    }
.fa-link:before{
       font-size: 19px;
     padding: 10px;
     color: #235196;
    font-weight: 400;
    font-family: FontAwesome;
    color:#fff;
	content:"\f0c1";
}

.social-media{
.fa-facebook:hover::after,.fa-link:hover::after {
  background: #4CCFE0;
}
}

.name-grosiste{
	margin-top: 30px;
	  a{
	    background: #4CCFE0;
	    border: 1px solid #4CCFE0;
	    //border-radius: 50px;
	    font-weight: bold;
	    font-size: 15px;
	    padding: 6px 20px;
	    color: #fff;
	    	&:hover{
		    background-color: #235196;
		    text-decoration: none;
		    transition: all ease-in 0.5s;
	}
	}

}
	a:hover{
		text-decoration: none;
	}

}



.path-commander{
	/*input{


		&::after{
			    content: '';
			    width: 100%;
			    height: 100%;
			    position: absolute;
			    border: 1px solid #4ccfe0;
			    left: 0;
			    top: 0;
			    box-sizing: border-box;
			    border-radius: 50%;
			    animation: wave 1.5s linear;
         }

     @keyframes wave {
     to {
    transform: scale(1.5);
    opacity: 0;
  }
 }
	
	}
	  &:hover{
         	animation: wave 1.5s infinite linear;
         }
*/

.node-commande-form.node-form{
	.content.clearfix.row{
    background: #e9ecef;
    width: 70%;
    margin: 0 auto;
    padding: 0;
        box-shadow: 0 0 10px #00000070;
	}
 .layout-region-node-main{
    max-width: 100%;
    flex: 0 0 100%;

    .tabledrag-toggle-weight-wrapper{
    	display: none;
    }
   .paragraph-type-top{
       justify-content: flex-end !important;
    margin-bottom: 0;
    button{
    	font-size: 0;
    	background: transparent;
    	border: transparent;
    	    margin-top: 31px;
    	&::after{
        content:"\f1f8";
      font-size: 25px;
     padding: 10px;
     color: #4ccfe0;
    font-weight: 400;
    font-family: FontAwesome;
   

    	}
    	&::after:hover{
       color: red;
    	}
    }
   }
    .toggle-boolean{
      /*background: #e9ecef;
       width: 70%;
      margin: 0 auto;*/
    }
    table{
    	/*width: 70%;
        margin: 0 auto;
         margin-bottom: -1px;*/
         tr{
         	background: #e9ecef;
         	border: none;
         	&:hover{
         		background: #e9ecef;
         	}

         }
         td{
         	border-top: 1px solid #e9ecef;
         }

        thead{
        	th{
        		padding-bottom: 0;
        		h4{
        		  margin: 0;
        		}
	         background: #4ccfe0;
	         text-align: center;
	         border-bottom: 1px solid #4ccfe0;
	         //border: none;
          }
        }
        .form-type-number{
        margin-top: 0px;
        margin-bottom: 0px;
        }
        .paragraphs-subform {
        	display: -ms-flexbox;
           display: flex;
           align-items: center;
           padding: 22px;
           padding: 0px 34px;
           margin-top: -71px;
            margin-bottom: 0px;
            .field--name-field-medicament{
            	margin: 0;
            	fieldset{

            		margin: 0;
            		input{
            			
            		}

            	}
            }
            .field--name-field-quantite{
               margin:0px;
               margin-left: -37px;
            }
        }
        .field-multiple-drag{
        	display: none;
        }
        .paragraph-type-title {
        	display: none;
        }
      
    
    }
       .field--name-field-medicaments-commandes,.field--name-field-urgence{
       	   margin-bottom: 0;
       }
    .clearfix{
    .paragraphs-dropbutton-wrapper{
    	    padding: 0px 34px;
    	/*width:70%;
    	margin:0 auto;
    	background: #e9ecef;
    	    padding: 0px 34px;*/
    	button{
background: #4ccfe0;
border: #4ccfe0;
    	}
    }
}
    .field--name-field-grossiste,.field--name-field-urgence{
    	    padding: 0px 34px;
    	/*width:70%;
    	margin:0 auto;
    	background: #e9ecef;
     padding: 0px 34px;*/
    	fieldset{
    		 margin-bottom: 0;

    	}
    	select{
    		    width: 60%;
    	}
    	input{
    		   // width: 60%;
    	}
    	
    }
    .field--name-field-urgence{
    	display: none;
    }
    .paragraph-type-label,.paragraphs-icon-button-collapse{
    	display: none;
    }
   
    	.paragraphs-dropdown-toggle{
    		display: none;
    	}
   

    .paragraphs-dropdown{

    margin-top: 55px;

    	.paragraphs-dropdown-actions{
    		display: block;
    		border: none;
    background: transparent;
    box-shadow: none;
        margin-top: -57px;
button{
               font-size: 0;
    background: transparent;
    border: transparent;
    /* margin-top: 31px; */
    border: none;
    	&::after{
        content:"\f1f8";
      font-size: 25px;
     padding: 10px;
     color: #4ccfe0;
    font-weight: 400;
    font-family: FontAwesome;
   

    	}
}

    	}
    	.field-dragdrop-mode-submit{
    		display: none;
    	}
    }
td.tabledrag-hide,th.tabledrag-hide{
display: none;

  }
}
}

.thead-med:nth-child(3){
	display: none;
}
.thead-med{
	width: 100%;
    background: #4ccfe0;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
        padding-bottom: 14px;

    >div{
    	width: 50%;
    text-align: center;
    }
}
.clearfix{
	.field-add-more-submit{
	display: flex;
    align-items: center;
    background: #4ccfe0;
    border: 0;
    font-size: 14px;
    padding: 0px 15px;
    font-weight: bold;
    margin: 0 34px;
    height: 34PX;
		&:after{
    content: "\f0fe";
    font-size: 25px;
    padding: 3px 10px;
    color: #ffffff;
    font-weight: 400;
    font-family: FontAwesome;
		}
	}
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
  margin: 17px 34px;
}

.switch input {
	    //margin-top: 30px;
	    display:none;
	}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #235196;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4ccfe0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  padding: 17px 19px;
  font-weight: bold;
}
.on{	
    left: 39%;
}
.off{

    left: 59%;

}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}

input{
	background-color:#fbfbfb
}
.layout-region-node-secondary{
	display: none;
}
.layout-region-node-footer{
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	#edit-actions{
button{
	 background: #4ccfe0;
	 border:#4ccfe0;;
	     width: 178px;
	     font-weight: bold;
	 &:hover{
	 	    background-color: #235196;
    text-decoration: none;
    transition: all ease-in 0.5s;
	 }
}
}
}






label{
	display: none
}

fieldset{
	    position: relative;
	    width: 89%;

}
.form-text{
	margin-top:0px;
}


:focus{outline: none;
border: none;
box-shadow: none;
}
input[type="text"]{
border-radius: 0px;
	font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

input{border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s;}



input ~ .focus-border:before,
input ~ .focus-border:after{content: ""; position: absolute; top: 0; right: 0; width: 0; height: 2px; background-color: #a5b8d4; transition: 0.2s; transition-delay: 0.2s;}
input ~ .focus-border:after{top: auto; bottom: 0; right: auto; left: 0; transition-delay: 0.6s;}
input ~ .focus-border i:before,
input ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #a5b8d4; transition: 0.2s;}
input ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0; transition-delay: 0.4s;}
input:focus ~ .focus-border:before,
input:focus ~ .focus-border:after{width: 100%; transition: 0.2s; transition-delay: 0.6s;}
input:focus ~ .focus-border:after{transition-delay: 0.2s;}
input:focus ~ .focus-border i:before,
input:focus ~ .focus-border i:after{height: 100%; transition: 0.2s;}
input:focus ~ .focus-border i:after{transition-delay: 0.4s;}



}