
$color: #0cf;
.navbar-expand-lg {
	.navbar-collapse{
    justify-content: flex-end;
    a{
    	text-transform: uppercase;
    	font-weight: 500;
    	color: #235196;
    }
    a:hover{
    	color: #4CCFE0 ;
    }
 }
}
#navbar-main  {
    background-color: #e7edf4 !important;
    border: none;
    box-shadow: none;
}

.region-header-form{
	a{
    color: #235196;;
    border: 2px solid #4ccfe0;
    border-radius: 50px;
    padding: 0px 22px;
    margin-right: 10px;
	}
}




$root: rgba(0,0,0,.7);
$off-w: rgba(223,223,223,1);
$light-black: rgba(0,0,0,.1);
@mixin transition($time) {
  transition: $time cubic-bezier(.69,-0.59,.46,1.94);
}
*,
*::before,
*::after {boxsizing:border-box;}



.fixed-top{
    height: 58px;
    background: #fff !important;
        box-shadow: 0px 0px 10px #e5e5e5;
}
.bg-primary{
	    margin-top: 55px;
}
.menu-navigation-top{
	h1{
		display: none;
	}
}


 
.region-top-header-form{
	   margin-top: -5px;
}
.se-connecter{
	a{
       color: #235196;
    margin-right: 33px;
    text-transform: uppercase;
    font-size: 16px;
        font-weight: 500;
        padding: 0px;
    &:hover{
    	color:#44bac9;
    }
	}
	a:before{
    content: "\f2bd";
    color: #1d71b8;
    font-family: 'fontawesome';
    font-size: 22px;
    padding-right: 5px;
	}
		a:hover::before{
			color:#44bac9;

		}
}


.header-menu-connexion{
	.template-user-menu{
     #dropdownMenuButton{
     	       background: #fff;
    color: #000;
    /* border: 1px solid #4ccfe0; */
    border: none;
    padding: 0px 41px;
  
     }
      
      .dropdown,.dropdown-menu{
        border: 0.5px solid #e7edf4;
    border-radius: 5px;
    width: 315px;
      }
     .img-profile{
       img{
    height: 50px;
    width: 50px;
    border: 0.5px solid #4ccfe0;
    border-radius: 100%;
       }

     }
     .field-nom,.field-prenom{
     	font-size: 13px;
    margin-left: 13px;
     }
     .dropdown-menu{
     	a:active{
       color: #fff;
    text-decoration: none;
    background-color: #4ccfe0;
     	}
     	a:hover{
     		color: #fff;
     		background: #4ccfe0;
     	}
     	a{
     		font-size: 13px
     	}

     .user-profile:before{
  content:"\f2c1";
    font-size: 20px;
    padding: 3px 10px;
   color: #878a8c;
    font-weight: 400;
    font-family: FontAwesome;
     }
     .settings:before{
     content:"\f0ad";
    font-size: 20px;
    padding: 3px 10px;
   color: #878a8c;
    font-weight: 400;
    font-family: FontAwesome;
     }
     a:nth-child(3):before{
     	 content:"\f0ad";
    font-size: 20px;
    padding: 3px 10px;
   color: #878a8c;
    font-weight: 400;
    font-family: FontAwesome;
     }
     .dcnx:before{
     	content:"\f08b";
    font-size: 25px;
    padding: 3px 10px;
   color: #878a8c;
    font-weight: 400;
    font-family: FontAwesome;
     }
 }
	}
}



/*
#block-notifpharmaciebutton{
	    margin-right: 34px;
	.content{
		
		.view-notifications-pharmacie{
    
        background: #f7f7f7;
    border-radius: 3px;
    position: fixed;
    width: 208px;
   
      margin-top: 26px;
    margin-left: -170px;
    border: 1px solid #4ccfe0;
    padding: 0px 1px 5px 2px;
    text-align: left;
    .view-content{
    	margin-left: 0px;
    	.item-list{
    		width: 200px;
    		li{ border-bottom: 1px solid #bdbdbd;}
           
               li:last-child{
            	border:none !important;
            }
            a:hover,a:active,li:hover,li:active{
            	color: #fff;
     		  background: #4ccfe0;
            }
    		
    	}
    .item-list:before {
    content: "Notification";
    color: #235196;
    background: white;
    width: 100%;
    display: block;
    padding-left: 19px;
        padding-top: 10px;
}
    }

	    }
	     .view-notifications-pharmacie:before{
	  content: '';
    display: block;
    width: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 11px 14px 11px;
    z-index: 2;
    border-color: transparent transparent #4ccfe0 transparent;
    height: 0;
    position: absolute;

    border-bottom: -2px solid transparent;

    left: 156px;
    top: -18px;
		}


		


	 #shown-button-notif{

    border: none;
    color: #080808;
    height: 19px;
    font-size: 12px;
    width: 13px;
    cursor:pointer;
    background: red;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    padding: 0;
    color: #fff;
    font-weight: bold;
    position: relative;

  }

#shown-button-notif:focus {
    border: none;
    box-shadow: none;
}

#shown-button-notif::after{
 content: inherit;	
 }

   #shown-button-notif::before{
  	content:"\f0f3";
  	font-size: 25px;
    padding: 3px 10px;
   color: #235196;
    font-weight: 400;
    font-family: FontAwesome;
    position: absolute;
        margin-left: -28px;
  }

	}

	} 

	
.view-notifications-pharmacie{
	.view-header{
		display: none;
	}
}
.ajax-progress{
	display: none;
}
*/


/******-----fom login ------******/

.login-form-connect{
	.dropdown	{        
	padding: 0;
    overflow: hidden;
    top: 51px;padding: 0;
     top: 37px !important;
    &:before{
    content: "Bienvenue";
    text-align: center;
 font-size: 24px;
    font-weight: bold;
    color: #235196;
    padding-top: 13px;
    padding-bottom: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    }
	}
	#drop-down-login-wrapper{
	.login.button{
		display: -ms-flexbox;
		    display: flex;
		    color: #235196;
    margin-right: 33px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    padding: 0px;
    border: 1px solid #2351a1;
    padding: 10px 5px;
    border-radius: 6px;
     height: 35px;
    &:before{
    	content: "\f2bd";
    color: #1d71b8;
    font-family: 'fontawesome';
    font-size: 22px;
    padding-right: 5px;


    }
		}

  .login.button:hover,.login.button:active{

    color: #44bac9;
    border: 1px solid #44bac9;
    }
    .login.button:hover::before,.login.button:active::before{
    	    color: #44bac9;


    }
	}
	
	#user-login-form{
		display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 20px;

    label{
    	-ms-flex-pack: start;
    justify-content: flex-start;
        padding-left: 74px;
    padding-top: 11px;
       color: #235196;
       font-size: 14px;
       &::after{
       	    content: "*" !important;
		    color: red !important;
		   background: none;
		width: inherit!important;
		height: inherit!important;
		    margin: 0 0.3em !important;
		    font-weight: bold !important;
       }
    }
    input{
    min-width: 229px;
    padding: 15px 13px;
    font-size: 14px;
    height: 34px;
    border: none;
    margin-bottom: 8px;
    margin-left: 59px;
    margin-top: -4px;
    background: none;
    border-bottom: 1px solid #c1c4cf;
    border-radius: 0;



    }
    input:-webkit-autofill { 
    background-color: #fff !important;
    background-image: #fff !important;
    color: #fff !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;

}
    input:focus{
    	border-bottom: 1px solid #4ccfe0;
    		background: none;
    		box-shadow: none;
    }
    div[id*='edit-actions']{
    -ms-flex-pack: center;
   justify-content: center;
    margin: 42px 0 10px 0px;
    }
    button{
    min-width: 312px;
    border: 1px solid #c1c4cf;
    padding: 11px 22px;
    font-size: 16px;
    height: auto;
    /* text-transform: inherit; */
     color: #fff;
    font-weight: 500;
    line-height: normal;
    position: relative;
    margin: 0;
    background: none;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;


 &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
       background-color: #235196;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #4ccfe0;
        transition: all .3s;
        
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }


    }
   fieldset{
   	    width: 312px;
           border: 1px solid #c1c4cf;
   //background: #eef1f4;
    border-radius: 4px;

    i{
    	    font-size: 26px;
           color: #235196;
           padding-left: 31px;
           position: absolute;
    }
   }
   .js-form-item-pass{
   	border-radius: 0px 0px 4px 4px;
   }
.js-form-item-name{
	border-bottom: none;
		border-radius: 4px 4px 0px 0px;
}

	}
	 .list-group-item{
    	display: none;
    }

}

/******-----fom login ------******/