$animate: all 0.2s ease-in-out;
.map-tn-pharmacie{
  .taille-map{
    float: left;
    width:54%;
  }
    .land{
        fill: #fff;
        stroke: #4CCFE0;
        stroke-width: 1px;
        transition: fill .3s;
        transition: all ease-in 0.5s;
      }
      .bg-hover-map{
        .land{          
          fill: #4CCFE0;
          stroke: #4CCFE0;
      }
    }
  }

.land:hover{
      fill: #4CCFE0;
      stroke: #4CCFE0;
 } 

.region-map-tun{
  display: inherit;
  .content{

    background-repeat: no-repeat;
    background-image: url(/themes/custom/pharmacie_theme/images/bg-map-tn2.png);
    //display: -ms-flex;
    //justify-content: center;
    /*background: #66CBB1;
    background: -moz-linear-gradient(top, #66CBB1 0%, #66CBB1 100%);
    background: -webkit-linear-gradient(top, #66CBB1 0%, #66CBB1 100%);
    background: linear-gradient(to bottom, #66CBB1 0%, #66CBB1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee25',endColorstr='#f29232',GradientType=0);
*/ 
  }
}

.list-region{
  display:-ms-flexbox;
  display: flex;
// justify-content: space-between;
  padding: 30px 0;
   width:46%;

.list-region-1{
 ul{
  li{
    list-style: none;
    display: -ms-flex;
    display: flex;
    color:#fff;
    align-items: center;
    padding: 7px 0px;
    margin: 17px 0;
    font-size: 19px;
    text-align: center;

  }
  li:before{
    content: "";
    display: flex;
    width: 12px;
    height: 12px;
   margin: 5px 10px 5px 5px;
  background-color: #555;
      border: 2px solid #fff;
    color: #f38b00;
      background-color: #ecff72;
    -webkit-transform: rotate(47deg);
    -moz-transform: rotate(47deg);
    -ms-transform: rotate(47deg);
    -o-transform: rotate(47deg);
    transform: rotate(47deg);

  }
  a{
    width: 100%;
  }
  a:hover{
   //background: #56b847;
   text-decoration: none;
  }
 }
}



li{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 45px;
     color:#fff;
    .hover {
      margin: 0 auto;
      padding: 0;
      transition: $animate;
      position: relative;
       color:#fff;
       font-weight: bold;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 0px;
        height: 5px;
        margin: 5px 0 0;
        transition: $animate;
        transition-duration: 0.75s;
        opacity: 0;
        background-color: #FFF;
      }
    
   
      &.dsg {
        &:before {
          left: 30%;
        }
        &:after {
          right: 30%;
        }
      }
  
    }
    &:hover {
      cursor: pointer;
      .hover {
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
        }
        &.hover-3,
        &.hover-4 {
          &:before,
          &:after {
            width: 50%;
          }
        }
      }
    }
  }

}


.region-compteur{
      background-color: #f5f5f5;

      :root {
  --color: #47469B;
  --radius: 8px;
  color: #445544;

}
  #block-compteurdigital{
    width:100%;
  }

/* Colors */
.panel:nth-child(2) {
  --color: #4CCFE0;
}
.panel:nth-child(3) {
  --color: #4CCFE0;
}
.panel:nth-child(4) {
  --color: #4CCFE0;
}

.panels {
  display: flex;
  justify-content: center;
  padding: 40px;
  transform-style: preserve-3d;
}

.panel {
  display: flex;
  width: 200px;
  margin: 20px 40px;
  transition: all 1s;
  perspective: 600px;
}

.panel:hover,
.panel.open{
  width: 400px;
}

.panel:hover .page1,
.panel.open .page1 {
  margin-left: 0;
  transform: rotateY(0deg);
}

[class^="page"] {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border: 2px solid var(--color);
  border-radius: var(--radius);
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .1), 0 4px 8px -4px rgba(0, 0, 0, .12), 0 8px 16px -8px rgba(0, 0, 0, .15), 0 16px 24px -16px rgba(0, 0, 0, .17), 0 24px 48px -24px rgba(0, 0, 0, .25);
}

.page1 {
  position: relative;
  margin-left: -200px;
  transform-origin: 100% 50%;
  transform-style: preserve-3d;
  transition: all 1s;
  transform: rotateY(180deg);
  background: var(--color);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  overflow: hidden;
  background: var(--color);
  border-radius: var(--radius);
}

.front {
  background: #4CCFE0;
  transform: rotateY(180deg);
  border-radius: var(--radius);
}

/* Contents */
.front::before {
  content: '';
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background: #4CCFE0;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
}

h1 {
  flex-basis: 100%;
  margin: 0;
  padding: 14px 16px 4px;
  font-size: 1.2em;

   z-index: 66;
  font-weight: 500;
  text-align: center;
  background: #4CCFE0;
  color: white;
}

p {
  padding: 16px 16px;
  margin: 0;
  font-size: .875em;
  z-index: 66;
  line-height: 1.4;
}

p + p {
  padding-top: 4px;
} 

.button {
  display: flex;
  justify-content: center;
  padding: 12px 16px;
  font-size: .875em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #FFF;
  background-color: #4CCFE0;
  text-decoration: none;
  border-radius: 4px;
}



}

.contact-message-contact-form{
  //width:50%;
    background-image: url(/themes/custom/pharmacie_theme/images/img-01.png);
    background-position: right 10% bottom 45%;
    background-repeat: no-repeat;
  fieldset{
    label{
      display: none
    }
  }
  h2{
        padding-top: 60px;
      
  }
input,textarea{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:40%;
  border:none;
  border-bottom:1px solid #757575;
}
textarea{
  width:60%;
}

input:focus     { 

  outline: none;
    box-shadow: 0 4px 2px -2px rgba(0, 123, 255, 0.25);
    border-bottom: 1px solid rgba(0, 123, 255, 0.25);
}
#edit-preview{
  display: none;
}
}
  .view-header{
    text-align: center;
  }
  h2{
     padding: 35px 0;
     text-align: center;
       color:#4CCFE0;
       font-size: 51px; 
  }
.view-customer-view{
  display: inherit;
  .row{
    display: inherit;
    margin: 0;

  }
svg{
  font-size: 37px;
  color: #4CCFE0;
}

.slick-arrow::before {
    color: #4CCFE0;
}
  .content{
    text-align: center;
  }
  img{
    margin: 0 auto;
    border-radius: 50%;
    height: 152px;
    width: 152px;
    border: 4px solid #4CCFE0;
  }
  .views-field-field-nom,.views-field-body{
    .field-content{
    text-align: center;
  }
  }
  .views-field-field-nom{
  .field-content{
    font-size: 20px;
    padding: 13px 0;
    font-weight: bold;
  }
}

.slick__arrow:nth-child(2){
  display: none;
}
.blazy--on{
  .slick__arrow{
    display: block;
  }
}
}
  

/* active state */


#block-frontlanding{
  .content{
        height: 100vh;
  }
    overflow: hidden;
    width: 100%;

  .front-landing-page{
    h1{
      color: #235196;
      text-transform: uppercase;
      font-size: 56px;
      font-weight: bold;

    }
    h2{
      text-align: left;
      color: #4CCFE0;
      padding: 10px 0 ;
      text-transform: capitalize;
  
    }
    p{
       line-height: 26px;
    color: #293275;
    font-size: 19px;
    }
    a{

      background:#4CCFE0;
      border:1px solid #4CCFE0;
      border-radius: 50px;
      font-weight: bold;
     font-size: 18px;
        margin: 39px 0;
    }
    
    }
    a:focus{
      color: #fff;
      border: none
    }
    .txt-info{
        padding: 232px 0px 140px 148px;
      background-image: url(/themes/custom/pharmacie_theme/images/bg-info-txt.png);
    background-position: right -5% bottom 45%;
    background-repeat: no-repeat;
    }

    .img-phar{
      border-radius: 453px 0px 0px 453px;
      -moz-border-radius:453px 0px 0px 453px;
      -webkit-border-radius:453px 0px 0px 453px;
      border: 0px solid #000000;
      background: #E7EDF4;
      img{
        width: 82%;
        margin-top: 111px;
      }
    }
  }
