$animate: all 0.2s ease-in-out;
.map-tn-pharmacie{
  .taille-map{
    float: left;
    width:54%;
  }
    .land{
        fill: #fff;
        stroke: #4CCFE0;
        stroke-width: 1px;
        transition: fill .3s;
        transition: all ease-in 0.5s;
        transition: all 1s;
        transform-origin: 50% 50%;
      }
      .bg-hover-map{
        .land{          
          fill: #4ccfe0;
          stroke: #4ccfe0;
      }
    }
  }
.tn-zoom:hover{
  transform:scale(1) !important;
}
.land:hover{
      fill: #4ccfe0;
      stroke: #4ccfe0;   
      transform: scale(1.051);
 } 




  

.region-map-tun{
  display: inherit;
  .content{

   background: #235196;
    background: #ffee25;
    background: -moz-linear-gradient(top,#ffee25 0%,#f29232 100%);
    background: -webkit-linear-gradient(top,#ffee25 0%,#f29232 100%);
    background: linear-gradient(to bottom,#235196 0%,#4ccfe0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee25',endColorstr='#f29232',GradientType=0);

  }
}

.list-region{
  display:-ms-flexbox;
  display: flex;
// justify-content: space-between;
  padding: 30px 0;
   width:46%;

.list-region-1{
 ul{
  li{
    list-style: none;
    display: -ms-flex;
    display: flex;
    color:#fff;
    align-items: center;
    padding: 7px 0px;
    margin: 17px 0;


  }
  li:before{
    /*
    content: "";
    display: flex;
    width: 12px;
    height: 12px;
   margin: 5px 10px 5px 5px;
  background-color: #555;
      border: 2px solid #fff;
    color: #f38b00;
      background-color: #ecff72;
    -webkit-transform: rotate(47deg);
    -moz-transform: rotate(47deg);
    -ms-transform: rotate(47deg);
    -o-transform: rotate(47deg);
    transform: rotate(47deg);


        content: "";
    display: flex;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid #235196;
    color: #ffffff;
    background-color: #fff;
    margin: 5px 10px 3px -7px;
    padding: 2px;
    */

  }
  a{
    width: 100%;
     color: #fff;

    font-size: 17px;
    font-weight: bold;

  }
  a:hover{
   //background: #235196;
   text-decoration: none;
   color: #fff;
  }
 }


.sm-link{
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex); 
  --uismLinkTextColor: var(--smLinkTextColor);
  --uismLinkTextColorHover: var(--smLinkTextColorHover);  
  
  display: var(--uismLinkDisplay);
  color: var(--uismLinkTextColor);
  position: relative;
  overflow: hidden;
}

a.sm-link{
  text-decoration: none;
}

.sm-link__label{
  display: block;
}



/* sm-link_padding-bottom */ 

.sm-link_padding-bottom{
  --uismLinkLineWeight: var(--smLinkLineWeight, 4px);
  --uismLinkLineColor: var(--smLinkLineColor, #FFF);  
  
  padding-bottom: var(--uismLinkLineWeight);  
  position: relative;
}

.sm-link_padding-bottom::after{
  content: "";
  width: 100%;
  height: var(--uismLinkLineWeight);
  background-color: var(--uismLinkLineColor);
  
  position: absolute;
  left: 0;
  bottom: 0;
}




.sm-link_bg:hover{
  color: var(--uismLinkTextColorHover);
}

/* sm-link_text */ 

.sm-link_text::before{
  content: attr(data-sm-link-text);
  color: var(--uismLinkTextColorHover);
  position: absolute;
}

.sm-link_text::before, 
.sm-link_text .sm-link__label{
  transition-property: transform;
  transition-timing-function: cubic-bezier(.86, .6, .08, 1.01); 
  transition-duration: .3s;
}

.sm-link_text:hover::before,
.sm-link_text:hover .sm-link__label{
  transition-duration: .4s;
}



/* effect 4 */

.sm-link4::after{
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  transition: transform .3s ease-out, opacity .3s ease-out;
}

.sm-link4:hover::after{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}







}


/*
li{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 45px;
         color: #ffffff;
    .hover {
      margin: 0 auto;
      padding: 0;
      transition: $animate;
      position: relative;
         color: #ffffff;
       font-weight: bold;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 0px;
        height: 5px;
        margin: 5px 0 0;
        transition: $animate;
        transition-duration: 0.75s;
        opacity: 0;
        background-color: #fff;
      }
    
   
      &.dsg {
        &:before {
          left: 30%;
        }
        &:after {
          right: 30%;
        }
      }
  
    }
    &:hover {
      cursor: pointer;
      .hover {
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
        }
        &.hover-3,
        &.hover-4 {
          &:before,
          &:after {
            width: 50%;
          }
        }
      }
    }
  }
*/
}


.region-compteur{
      background-color: #fff;

      :root {
  --color: #47469B;
  --radius: 8px;
  color: #445544;

}
  #block-compteurdigital{
    width:100%;
  }

/* Colors */
.panel:nth-child(2) {
  --color: #4CCFE0;
}
.panel:nth-child(3) {
  --color: #4CCFE0;
}
.panel:nth-child(4) {
  --color: #4CCFE0;
}

.panels {
  display: flex;
  justify-content: center;
  padding: 40px;
  transform-style: preserve-3d;
}

.panel {
  display: flex;
  width: 200px;
  margin: 20px 40px;
  transition: all 1s;
  perspective: 600px;
}

.panel:hover,
.panel.open{
  width: 400px;
}

.panel:hover .page1,
.panel.open .page1 {
  margin-left: 0;
  transform: rotateY(0deg);
}

[class^="page"] {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border: 2px solid var(--color);
  border-radius: var(--radius);
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .1), 0 4px 8px -4px rgba(0, 0, 0, .12), 0 8px 16px -8px rgba(0, 0, 0, .15), 0 16px 24px -16px rgba(0, 0, 0, .17), 0 24px 48px -24px rgba(0, 0, 0, .25);
}

.page1 {
  position: relative;
  margin-left: -200px;
  transform-origin: 100% 50%;
  transform-style: preserve-3d;
  transition: all 1s;
  transform: rotateY(180deg);
  background: var(--color);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  overflow: hidden;
  background: var(--color);
  border-radius: var(--radius);
}

.front {
  background: #4CCFE0;
  transform: rotateY(180deg);
  border-radius: var(--radius);
}

/* Contents */
.front::before {
  content: '';
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background: #4CCFE0;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
}

h1 {
  flex-basis: 100%;
  margin: 0;
  padding: 14px 16px 4px;
  font-size: 1.2em;

   z-index: 66;
  font-weight: 500;
  text-align: center;
  background: #4CCFE0;
  color: white;
}

p {
  padding: 16px 16px;
  margin: 0;
  font-size: .875em;
  z-index: 66;
  line-height: 1.4;
}

p + p {
  padding-top: 4px;
} 

.button {
  display: flex;
  justify-content: center;
  padding: 12px 16px;
  font-size: .875em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #FFF;
  background-color: #4CCFE0;
  text-decoration: none;
  border-radius: 4px;
}



}

.contact-message-contact-form{
  //width:50%;
   background-image: url(/themes/custom/pharmacie_theme/images/nous-contactez.png);
    background-position: right 10% bottom 45%;
    background-repeat: no-repeat;
    .content{
      display: -ms-flexbox;
          display: flex;
    //justify-content: center;
    }
    #edit-actions{
      display: -ms-flexbox;
      display: flex;
    justify-content: center;
    button{

border: 2px solid #235196;
    padding: 6px 22px;
    border-radius: 5px;
    font-size: 15px;
    height: auto;
    text-transform: inherit;
     color: #235196;
    font-weight: 500;
    line-height: normal;
    position: relative;
    margin: 0;
    background: none;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before{
          content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #4ccfe0;
    transition: all .3s;
    z-index: -1;
    }
    &:after{
     content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    color: #235196;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -2;
    }
     &:hover {
        color: #fff;
            border: 2px solid #4ccfe0;
        text-decoration: none;
        &:before {
            width: 100%;
        }
    }





    }
    }
  fieldset{
    label{
      display: none
    }
  }
  h2{
        padding-top: 60px;
      
  }
input,textarea{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  //width:40%;
  border:none;
  border-bottom:1px solid #757575;
}
textarea{
 // width:60%;
}

input:focus     { 

  outline: none;
    box-shadow: 0 4px 2px -2px rgba(0, 123, 255, 0.25);
    border-bottom: 1px solid rgba(0, 123, 255, 0.25);
}
#edit-preview{
  display: none;
}
}

#contact-message-newsletter-form{
  display: -ms-flexbox;
  display: flex;
   .content{
        
form{
 

    label{
      display: none;
    }
  }
}
}

  .view-header{
    text-align: center;
  }
  h2{
     padding: 35px 0;
     text-align: center;
       color:#235196;
       font-size: 51px; 
  }
.view-customer-view{
  display: inherit;
  .row{
    display: inherit;
    margin: 0;

  }
svg{
  font-size: 37px;
  color: #4CCFE0;
}

.slick-arrow::before {
    color: #4CCFE0;
}
  .content{
    text-align: center;
  }
  img{
    margin: 0 auto;
    border-radius: 50%;
    height: 152px;
    width: 152px;
    border: 4px solid #4CCFE0;
  }
  .views-field-field-nom,.views-field-body{
    .field-content{
    text-align: center;
  }
  }
  .views-field-field-nom{
  .field-content{
    font-size: 20px;
    padding: 13px 0;
    font-weight: bold;
  }
}

.slick__arrow:nth-child(2){
  display: none;
}
.blazy--on{
  .slick__arrow{
    display: block;
  }
}
}
  

/* active state */


#block-frontlanding{
   background: #4ccfe0;
  .content{
        height: 100vh;
  }
    overflow: hidden;
    width: 100%;

  .front-landing-page{
    h1{
      color: #235196;
      text-transform: uppercase;
      font-size: 56px;
      font-weight: bold;

    }
    h2{
      text-align: left;
      color: #4CCFE0;
      padding: 10px 0 ;
      text-transform: capitalize;
  
    }
    p{
       line-height: 26px;
    color: #fff;
    font-size: 21px;
    }
    a{
     border: 2px solid #fff;
    padding: 6px 22px;
    border-radius: 5px;
        margin-top: 64px !important;
    font-size: 17px;
    height: auto;
    text-transform: inherit;
     color: #235196;
    font-weight: 500;
    line-height: normal;
    position: relative;
    margin: 0;
    background: none;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before{
          content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #235196;
    transition: all .3s;
    z-index: -1;
    }
    &:after{
     content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    color: #235196;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -2;
    }
     &:hover {
        color: #fff;
            border: 2px solid #235196;
        text-decoration: none;
        &:before {
            width: 100%;
        }
    }
     &:focus {
      color: #235196;
      //background: #fff;
     }


    }
    
    }
    a:focus{
      color: #fff;
      border: none
    }
    .txt-info{
          padding: 10% 0px 155px 12%;
    background-image: url(/themes/custom/pharmacie_theme/images/bg-info-txt.png);
    background-position: right 10% bottom 45%;
    background-repeat: no-repeat;
    }

    .img-phar{
      border-radius: 453px 0px 0px 453px;
      -moz-border-radius:453px 0px 0px 453px;
      -webkit-border-radius:453px 0px 0px 453px;
      border: 0px solid #000000;
      background: #E7EDF4;
      img{
        //width: 82%;
        //margin-top: 101px;
      }
    }
  }


  /************Services**************/

.bloc-serivices{
      margin: 0 auto;
.card-services{

    padding: 100px 0;
  .card{

      min-height: 400px;
      background: #fff;
      box-shadow: 0 20px 50px rgba(0,0,0,.1);
      border-radius: 10px;
      transition: 0.5s;
      .box{
            text-align: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    img{
      width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
      }
      h2{
        font-size: 20px;
    color: #262626;
    padding: 28px 0!important;
    span{font-size: 14px;
    background: #235196;
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 15px;
      }
    }
    p{color: #262626;}
    }
    .envoyer-dmd{
     border: 2px solid #235196;
    padding: 6px 22px;
    border-radius: 5px;
    font-size: 15px;
    height: auto;
    text-transform: inherit;
     color: #235196;
    font-weight: 500;
    line-height: normal;
    position: relative;
    margin: 0;
    background: none;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before{
          content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #4ccfe0;
    transition: all .3s;
    z-index: -1;
    }
    &:after{
     content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    color: #235196;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -2;
    }
     &:hover {
        color: #fff;
            border: 2px solid #4ccfe0;
        text-decoration: none;
        &:before {
            width: 100%;
        }
    }
    }
  }
  .card:hover{
      transform: scale(1.1);
    }
}
}
/************Services**************/
/* BTN SIX */



  /************Services**************/

.img-phar{
   //width:600px;
  margin: 0 auto;
      height: 86vh;
    overflow: hidden;
}

#slider {
  //width: 600px;
  height: 600px;
  overflow: hidden;
 // margin: 30px auto;
 margin-top: 70px;
}
/*
#slider > img {
  //width: 600px;
  height: 600px;
  float: left;
  display: none;
}
.arrow{
      overflow: hidden;
    position: absolute;
 width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //justify-content: center;
a {
    font-size: 0 !important;
    background: none !important;
    border: none !important;
    &:hover{
      text-decoration:none;
  }
}
    a:first-child:before,a:last-child:before{
   content:"\f053";
    color: #1d71b8;
    font-family: 'fontawesome';
    font-size: 41px;
    padding-right: 5px;
    }
    a:last-child:before{
      content:"\f054";
    }
}
*/
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
  top: 47%;
}

.arrows path {
  stroke: #2994D1;
  fill: transparent;
  stroke-width: 2px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}