/*-----------------------------------------------------------------------------------*/
/******************************* appels aux fichiers  *******************************/
/*---------------------------------------------------------------------------------*/
.site-footer {
  padding: 28px 0;
  margin-top: 100px; }

#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
  #page #main-wrapper {
    flex-grow: 1; }

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end; }
  .navbar-expand-lg .navbar-collapse a {
    text-transform: uppercase;
    font-weight: 500;
    color: #235196; }
  .navbar-expand-lg .navbar-collapse a:hover {
    color: #4CCFE0; }

#navbar-main {
  background-color: #fff !important;
  border: none;
  box-shadow: none; }

.region-header-form a {
  color: #235196;
  border: 2px solid #4ccfe0;
  border-radius: 50px;
  padding: 0px 22px;
  margin-right: 10px; }

*,
*::before,
*::after {
  boxsizing: border-box; }

.menu_container {
  position: fixed;
  z-index: 2000; }
  .menu_container .btn_container {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 13%;
    background-color: transparent; }
    .menu_container .btn_container span {
      position: absolute;
      width: 50px;
      height: 5px;
      border-radius: 2px;
      background-color: #4ccfe0; }
    .menu_container .btn_container span:nth-child(2) {
      top: 8px;
      left: 0px;
      width: 50px;
      transition: 300ms cubic-bezier(0.69, -0.59, 0.46, 1.94); }
    .menu_container .btn_container span:nth-child(3) {
      top: 16px;
      left: 0px;
      width: 50px;
      transition: 400ms cubic-bezier(0.69, -0.59, 0.46, 1.94); }
    .menu_container .btn_container span:nth-child(4) {
      top: 24px;
      left: 0px;
      width: 50px;
      transition: 400ms cubic-bezier(0.69, -0.59, 0.46, 1.94); }
    .menu_container .btn_container:hover {
      cursor: pointer; }
      .menu_container .btn_container:hover span:nth-child(2),
      .menu_container .btn_container:hover span:nth-child(3) {
        width: 50px; }
  .menu_container .over_lay {
    position: fixed;
    top: 70px;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 500ms cubic-bezier(0.69, -0.59, 0.46, 1.94); }
  .menu_container .list_items_container {
    position: fixed;
    width: 300px;
    height: 100%;
    left: -300px;
    top: 0px;
    background-color: #dfdfdf;
    transition: 400ms cubic-bezier(0.69, -0.59, 0.46, 1.94); }
    .menu_container .list_items_container p {
      width: 100%;
      background: #fff;
      margin: 0px;
      padding: 15px 0px;
      font-size: 33px;
      margin-bottom: 30px;
      text-align: center;
      font-weight: lighter;
      color: #44bac9; }
      .menu_container .list_items_container p:hover {
        cursor: pointer;
        box-shadow: 0px 1px 4px #000; }
    .menu_container .list_items_container .list_box a {
      display: inline-block;
      width: 100%;
      text-align: center;
      text-decoration: none;
      padding: 10px 0px;
      font-size: 27px;
      color: #1f4987;
      transition: 500ms cubic-bezier(0.69, -0.59, 0.46, 1.94); }
      .menu_container .list_items_container .list_box a:hover {
        border-left: 10px solid #44bac9;
        color: #44bac9; }

.fixed-top {
  height: 70px;
  background: #e7edf4 !important; }

.menu-navigation-top h1 {
  display: none; }

.se-connecter a {
  color: #235196;
  margin-right: 33px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500; }
  .se-connecter a:hover {
    color: #44bac9; }
.se-connecter a:before {
  content: "\f2bd";
  color: #1d71b8;
  font-family: 'fontawesome';
  font-size: 22px;
  padding-right: 5px; }
.se-connecter a:hover::before {
  color: #44bac9; }

.map-tn-pharmacie .taille-map {
  float: left;
  width: 54%; }
.map-tn-pharmacie .land {
  fill: #fff;
  stroke: #4CCFE0;
  stroke-width: 1px;
  transition: fill .3s;
  transition: all ease-in 0.5s; }
.map-tn-pharmacie .bg-hover-map .land {
  fill: #235196;
  stroke: #235196; }

.land:hover {
  fill: #235196;
  stroke: #235196; }

.region-map-tun {
  display: inherit; }
  .region-map-tun .content {
    background: whitesmoke;
    /*background: #66CBB1;
    background: -moz-linear-gradient(top, #66CBB1 0%, #66CBB1 100%);
    background: -webkit-linear-gradient(top, #66CBB1 0%, #66CBB1 100%);
    background: linear-gradient(to bottom, #66CBB1 0%, #66CBB1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee25',endColorstr='#f29232',GradientType=0);
*/ }

.list-region {
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  width: 46%; }
  .list-region .list-region-1 ul li {
    list-style: none;
    display: -ms-flex;
    display: flex;
    color: #fff;
    align-items: center;
    padding: 7px 0px;
    margin: 17px 0; }
  .list-region .list-region-1 ul li:before {
    /*
    content: "";
    display: flex;
    width: 12px;
    height: 12px;
   margin: 5px 10px 5px 5px;
  background-color: #555;
      border: 2px solid #fff;
    color: #f38b00;
      background-color: #ecff72;
    -webkit-transform: rotate(47deg);
    -moz-transform: rotate(47deg);
    -ms-transform: rotate(47deg);
    -o-transform: rotate(47deg);
    transform: rotate(47deg);
*/
    content: "";
    display: flex;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #235196;
    background-color: #235196;
    margin: 5px 10px 3px -7px;
    padding: 2px; }
  .list-region .list-region-1 ul a {
    width: 100%; }
  .list-region .list-region-1 ul a:hover {
    text-decoration: none; }
  .list-region li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 45px;
    color: #235196; }
    .list-region li .hover {
      margin: 0 auto;
      padding: 0;
      transition: all 0.2s ease-in-out;
      position: relative;
      color: #235196;
      font-weight: bold; }
      .list-region li .hover:before, .list-region li .hover:after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 0px;
        height: 5px;
        margin: 5px 0 0;
        transition: all 0.2s ease-in-out;
        transition-duration: 0.75s;
        opacity: 0;
        background-color: #235196; }
      .list-region li .hover.dsg:before {
        left: 30%; }
      .list-region li .hover.dsg:after {
        right: 30%; }
    .list-region li:hover {
      cursor: pointer; }
      .list-region li:hover .hover:before, .list-region li:hover .hover:after {
        width: 100%;
        opacity: 1; }
      .list-region li:hover .hover.hover-3:before, .list-region li:hover .hover.hover-3:after, .list-region li:hover .hover.hover-4:before, .list-region li:hover .hover.hover-4:after {
        width: 50%; }

.region-compteur {
  background-color: #fff;
  /* Colors */
  /* Contents */ }
  .region-compteur :root {
    --color: #47469B;
    --radius: 8px;
    color: #445544; }
  .region-compteur #block-compteurdigital {
    width: 100%; }
  .region-compteur .panel:nth-child(2) {
    --color: #4CCFE0; }
  .region-compteur .panel:nth-child(3) {
    --color: #4CCFE0; }
  .region-compteur .panel:nth-child(4) {
    --color: #4CCFE0; }
  .region-compteur .panels {
    display: flex;
    justify-content: center;
    padding: 40px;
    transform-style: preserve-3d; }
  .region-compteur .panel {
    display: flex;
    width: 200px;
    margin: 20px 40px;
    transition: all 1s;
    perspective: 600px; }
  .region-compteur .panel:hover,
  .region-compteur .panel.open {
    width: 400px; }
  .region-compteur .panel:hover .page1,
  .region-compteur .panel.open .page1 {
    margin-left: 0;
    transform: rotateY(0deg); }
  .region-compteur [class^="page"] {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border: 2px solid var(--color);
    border-radius: var(--radius);
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.1), 0 4px 8px -4px rgba(0, 0, 0, 0.12), 0 8px 16px -8px rgba(0, 0, 0, 0.15), 0 16px 24px -16px rgba(0, 0, 0, 0.17), 0 24px 48px -24px rgba(0, 0, 0, 0.25); }
  .region-compteur .page1 {
    position: relative;
    margin-left: -200px;
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
    transition: all 1s;
    transform: rotateY(180deg);
    background: var(--color); }
  .region-compteur .front,
  .region-compteur .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; }
  .region-compteur .back {
    overflow: hidden;
    background: var(--color);
    border-radius: var(--radius); }
  .region-compteur .front {
    background: #4CCFE0;
    transform: rotateY(180deg);
    border-radius: var(--radius); }
  .region-compteur .front::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #4CCFE0;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%); }
  .region-compteur h1 {
    flex-basis: 100%;
    margin: 0;
    padding: 14px 16px 4px;
    font-size: 1.2em;
    z-index: 66;
    font-weight: 500;
    text-align: center;
    background: #4CCFE0;
    color: white; }
  .region-compteur p {
    padding: 16px 16px;
    margin: 0;
    font-size: .875em;
    z-index: 66;
    line-height: 1.4; }
  .region-compteur p + p {
    padding-top: 4px; }
  .region-compteur .button {
    display: flex;
    justify-content: center;
    padding: 12px 16px;
    font-size: .875em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #FFF;
    background-color: #4CCFE0;
    text-decoration: none;
    border-radius: 4px; }

.contact-message-contact-form .content {
  display: -ms-flexbox;
  display: flex;
  justify-content: center; }
.contact-message-contact-form #edit-actions {
  display: -ms-flexbox;
  display: flex;
  justify-content: center; }
.contact-message-contact-form fieldset label {
  display: none; }
.contact-message-contact-form h2 {
  padding-top: 60px; }
.contact-message-contact-form input, .contact-message-contact-form textarea {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #757575; }
.contact-message-contact-form input:focus {
  outline: none;
  box-shadow: 0 4px 2px -2px rgba(0, 123, 255, 0.25);
  border-bottom: 1px solid rgba(0, 123, 255, 0.25); }
.contact-message-contact-form #edit-preview {
  display: none; }

.contact-message-newsletter__form .content form label {
  display: none; }

.view-header {
  text-align: center; }

h2 {
  padding: 35px 0;
  text-align: center;
  color: #4CCFE0;
  font-size: 51px; }

.view-customer-view {
  display: inherit; }
  .view-customer-view .row {
    display: inherit;
    margin: 0; }
  .view-customer-view svg {
    font-size: 37px;
    color: #4CCFE0; }
  .view-customer-view .slick-arrow::before {
    color: #4CCFE0; }
  .view-customer-view .content {
    text-align: center; }
  .view-customer-view img {
    margin: 0 auto;
    border-radius: 50%;
    height: 152px;
    width: 152px;
    border: 4px solid #4CCFE0; }
  .view-customer-view .views-field-field-nom .field-content, .view-customer-view .views-field-body .field-content {
    text-align: center; }
  .view-customer-view .views-field-field-nom .field-content {
    font-size: 20px;
    padding: 13px 0;
    font-weight: bold; }
  .view-customer-view .slick__arrow:nth-child(2) {
    display: none; }
  .view-customer-view .blazy--on .slick__arrow {
    display: block; }

/* active state */
#block-frontlanding {
  overflow: hidden;
  width: 100%; }
  #block-frontlanding .content {
    height: 100vh; }
  #block-frontlanding .front-landing-page h1 {
    color: #235196;
    text-transform: uppercase;
    font-size: 56px;
    font-weight: bold; }
  #block-frontlanding .front-landing-page h2 {
    text-align: left;
    color: #4CCFE0;
    padding: 10px 0;
    text-transform: capitalize; }
  #block-frontlanding .front-landing-page p {
    line-height: 26px;
    color: #293275;
    font-size: 19px; }
  #block-frontlanding .front-landing-page a {
    background: #ffffff;
    color: #4ccfe0;
    border: 1px solid #235196;
    /* border-radius: 50px; */
    border: 3px solid #4ccfe0;
    font-weight: bold;
    font-size: 18px;
    margin: 39px 0; }
  #block-frontlanding a:focus {
    color: #fff;
    border: none; }
  #block-frontlanding .txt-info {
    padding: 105px 0px 123px 108px;
    background-image: url(/themes/custom/pharmacie_theme/images/bg-info-txt.png);
    background-position: right -5% bottom 45%;
    background-repeat: no-repeat; }
  #block-frontlanding .img-phar {
    border-radius: 453px 0px 0px 453px;
    -moz-border-radius: 453px 0px 0px 453px;
    -webkit-border-radius: 453px 0px 0px 453px;
    border: 0px solid #000000;
    background: #E7EDF4; }
    #block-frontlanding .img-phar img {
      margin-top: 101px; }

.card-grossiste {
  display: -ms-flexbox;
  display: flex;
  justify-content: center; }
  .card-grossiste .grosiste-card {
    width: 328px;
    overflow: hidden;
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px #00000070;
    margin-bottom: 50px;
    transition: all 0.3s;
    transform: scale(1); }
    .card-grossiste .grosiste-card:hover {
      transform: scale(1.1); }
    .card-grossiste .grosiste-card .fa-envelope {
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      font-weight: 900;
      font-family: FontAwesome;
      right: 40px;
      position: absolute;
      top: 40px;
      font-size: 20px;
      cursor: pointer;
      color: #4ccfe0;
      font-size: 25px; }
      .card-grossiste .grosiste-card .fa-envelope:before {
        content: "\f0e0"; }
    .card-grossiste .grosiste-card .logo-grosiste {
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      align-content: center;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      margin: auto;
      margin-bottom: 20px;
      border: 2px solid #4ccfe0;
      border-radius: 50%;
      padding: 8px;
      position: relative; }
      .card-grossiste .grosiste-card .logo-grosiste::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        border: 1px solid #4ccfe0;
        left: 0;
        top: 0;
        box-sizing: border-box;
        border-radius: 50%;
        animation: wave 1.5s linear; }
@keyframes wave {
  to {
    transform: scale(1.5);
    opacity: 0; } }
    .card-grossiste .grosiste-card .top-section {
      padding: 60px 0px 33px 0;
      background: #e9ecef; }
    .card-grossiste .grosiste-card .hover-card:hover .logo-grosiste::after {
      animation: wave 1.5s infinite linear; }
    .card-grossiste .grosiste-card .raison-sociale {
      color: #235196;
      font-weight: bold;
      text-transform: capitalize;
      letter-spacing: 1px; }
    .card-grossiste .grosiste-card .bottom-section {
      background: #ffffff;
      position: relative;
      font-size: 16px;
      text-transform: uppercase;
      padding: 24px 0; }
  .card-grossiste .telephone {
    color: #000;
    letter-spacing: 1px; }
  .card-grossiste .telephone:before {
    content: "\f095";
    font-size: 25px;
    padding: 10px;
    color: #235196;
    font-weight: 400;
    font-family: FontAwesome; }
  .card-grossiste .social-media {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: -20px;
    left: 0;
    z-index: 1; }
  .card-grossiste .fa-facebook, .card-grossiste .fa-link {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #f1f1f1;
    font-size: 20px;
    line-height: 36px;
    margin: 0 10px;
    position: relative; }
  .card-grossiste .fa-facebook:before {
    content: "\f230";
    font-size: 19px;
    padding: 10px;
    color: #235196;
    font-weight: 400;
    font-family: FontAwesome;
    color: #fff; }
  .card-grossiste .fa-facebook::after, .card-grossiste .fa-link::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #235196;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s linear; }
  .card-grossiste .fa-link:before {
    font-size: 19px;
    padding: 10px;
    color: #235196;
    font-weight: 400;
    font-family: FontAwesome;
    color: #fff;
    content: "\f0c1"; }
  .card-grossiste .social-media .fa-facebook:hover::after, .card-grossiste .social-media .fa-link:hover::after {
    background: #4CCFE0; }
  .card-grossiste .name-grosiste {
    margin-top: 30px; }
    .card-grossiste .name-grosiste a {
      background: #4CCFE0;
      border: 1px solid #4CCFE0;
      font-weight: bold;
      font-size: 15px;
      padding: 6px 20px;
      color: #fff; }
      .card-grossiste .name-grosiste a:hover {
        background-color: #235196;
        text-decoration: none;
        transition: all ease-in 0.5s; }
  .card-grossiste a:hover {
    text-decoration: none; }

.path-commander {
  	/*input{
  
  
  		&::after{
  			    content: '';
  			    width: 100%;
  			    height: 100%;
  			    position: absolute;
  			    border: 1px solid #4ccfe0;
  			    left: 0;
  			    top: 0;
  			    box-sizing: border-box;
  			    border-radius: 50%;
  			    animation: wave 1.5s linear;
           }
  
       @keyframes wave {
       to {
      transform: scale(1.5);
      opacity: 0;
    }
   }
  	
  	}
  	  &:hover{
           	animation: wave 1.5s infinite linear;
           }
  */
  /*------ ADDED CSS ---------*/
  /*--------- END --------*/
  /* Rounded sliders */ }
  .path-commander .node-commande-form.node-form .content.clearfix.row {
    background: #e9ecef;
    width: 70%;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 0 10px #00000070; }
  .path-commander .node-commande-form.node-form .layout-region-node-main {
    max-width: 100%;
    flex: 0 0 100%; }
    .path-commander .node-commande-form.node-form .layout-region-node-main .tabledrag-toggle-weight-wrapper {
      display: none; }
    .path-commander .node-commande-form.node-form .layout-region-node-main .paragraph-type-top {
      justify-content: flex-end !important;
      margin-bottom: 0; }
      .path-commander .node-commande-form.node-form .layout-region-node-main .paragraph-type-top button {
        font-size: 0;
        background: transparent;
        border: transparent;
        margin-top: 31px; }
        .path-commander .node-commande-form.node-form .layout-region-node-main .paragraph-type-top button::after {
          content: "\f1f8";
          font-size: 25px;
          padding: 10px;
          color: #4ccfe0;
          font-weight: 400;
          font-family: FontAwesome; }
        .path-commander .node-commande-form.node-form .layout-region-node-main .paragraph-type-top button::after:hover {
          color: red; }
    .path-commander .node-commande-form.node-form .layout-region-node-main .toggle-boolean {
      /*background: #e9ecef;
       width: 70%;
      margin: 0 auto;*/ }
    .path-commander .node-commande-form.node-form .layout-region-node-main table {
      	/*width: 70%;
          margin: 0 auto;
           margin-bottom: -1px;*/ }
      .path-commander .node-commande-form.node-form .layout-region-node-main table tr {
        background: #e9ecef;
        border: none; }
        .path-commander .node-commande-form.node-form .layout-region-node-main table tr:hover {
          background: #e9ecef; }
      .path-commander .node-commande-form.node-form .layout-region-node-main table td {
        border-top: 1px solid #e9ecef; }
      .path-commander .node-commande-form.node-form .layout-region-node-main table thead th {
        padding-bottom: 0;
        background: #4ccfe0;
        text-align: center;
        border-bottom: 1px solid #4ccfe0; }
        .path-commander .node-commande-form.node-form .layout-region-node-main table thead th h4 {
          margin: 0; }
      .path-commander .node-commande-form.node-form .layout-region-node-main table .form-type-number {
        margin-top: 0px;
        margin-bottom: 0px; }
      .path-commander .node-commande-form.node-form .layout-region-node-main table .paragraphs-subform {
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        padding: 22px;
        padding: 0px 34px;
        margin-top: -71px;
        margin-bottom: 0px; }
        .path-commander .node-commande-form.node-form .layout-region-node-main table .paragraphs-subform .field--name-field-medicament {
          margin: 0; }
          .path-commander .node-commande-form.node-form .layout-region-node-main table .paragraphs-subform .field--name-field-medicament fieldset {
            margin: 0; }
        .path-commander .node-commande-form.node-form .layout-region-node-main table .paragraphs-subform .field--name-field-quantite {
          margin: 0px;
          margin-left: -37px; }
      .path-commander .node-commande-form.node-form .layout-region-node-main table .field-multiple-drag {
        display: none; }
      .path-commander .node-commande-form.node-form .layout-region-node-main table .paragraph-type-title {
        display: none; }
    .path-commander .node-commande-form.node-form .layout-region-node-main .field--name-field-medicaments-commandes, .path-commander .node-commande-form.node-form .layout-region-node-main .field--name-field-urgence {
      margin-bottom: 0; }
    .path-commander .node-commande-form.node-form .layout-region-node-main .clearfix .paragraphs-dropbutton-wrapper {
      padding: 0px 34px;
      /*width:70%;
      margin:0 auto;
      background: #e9ecef;
          padding: 0px 34px;*/ }
      .path-commander .node-commande-form.node-form .layout-region-node-main .clearfix .paragraphs-dropbutton-wrapper button {
        background: #4ccfe0;
        border: #4ccfe0; }
    .path-commander .node-commande-form.node-form .layout-region-node-main .field--name-field-grossiste, .path-commander .node-commande-form.node-form .layout-region-node-main .field--name-field-urgence {
      padding: 0px 34px;
      	/*width:70%;
      	margin:0 auto;
      	background: #e9ecef;
       padding: 0px 34px;*/ }
      .path-commander .node-commande-form.node-form .layout-region-node-main .field--name-field-grossiste fieldset, .path-commander .node-commande-form.node-form .layout-region-node-main .field--name-field-urgence fieldset {
        margin-bottom: 0; }
      .path-commander .node-commande-form.node-form .layout-region-node-main .field--name-field-grossiste select, .path-commander .node-commande-form.node-form .layout-region-node-main .field--name-field-urgence select {
        width: 60%; }
    .path-commander .node-commande-form.node-form .layout-region-node-main .field--name-field-urgence {
      display: none; }
    .path-commander .node-commande-form.node-form .layout-region-node-main .paragraph-type-label, .path-commander .node-commande-form.node-form .layout-region-node-main .paragraphs-icon-button-collapse {
      display: none; }
    .path-commander .node-commande-form.node-form .layout-region-node-main .paragraphs-dropdown-toggle {
      display: none; }
    .path-commander .node-commande-form.node-form .layout-region-node-main .paragraphs-dropdown {
      margin-top: 55px; }
      .path-commander .node-commande-form.node-form .layout-region-node-main .paragraphs-dropdown .paragraphs-dropdown-actions {
        display: block;
        border: none;
        background: transparent;
        box-shadow: none;
        margin-top: -57px; }
        .path-commander .node-commande-form.node-form .layout-region-node-main .paragraphs-dropdown .paragraphs-dropdown-actions button {
          font-size: 0;
          background: transparent;
          border: transparent;
          /* margin-top: 31px; */
          border: none; }
          .path-commander .node-commande-form.node-form .layout-region-node-main .paragraphs-dropdown .paragraphs-dropdown-actions button::after {
            content: "\f1f8";
            font-size: 25px;
            padding: 10px;
            color: #4ccfe0;
            font-weight: 400;
            font-family: FontAwesome; }
      .path-commander .node-commande-form.node-form .layout-region-node-main .paragraphs-dropdown .field-dragdrop-mode-submit {
        display: none; }
    .path-commander .node-commande-form.node-form .layout-region-node-main td.tabledrag-hide, .path-commander .node-commande-form.node-form .layout-region-node-main th.tabledrag-hide {
      display: none; }
  .path-commander .thead-med:nth-child(3) {
    display: none; }
  .path-commander .thead-med {
    width: 100%;
    background: #4ccfe0;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding-bottom: 14px; }
    .path-commander .thead-med > div {
      width: 50%;
      text-align: center; }
  .path-commander .clearfix .field-add-more-submit {
    display: flex;
    align-items: center;
    background: #4ccfe0;
    border: 0;
    font-size: 14px;
    padding: 0px 15px;
    font-weight: bold;
    margin: 0 34px;
    height: 34PX; }
    .path-commander .clearfix .field-add-more-submit:after {
      content: "\f217";
      font-size: 25px;
      padding: 3px 10px;
      color: #ffffff;
      font-weight: 400;
      font-family: FontAwesome; }
  .path-commander .switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
    margin: 17px 34px; }
  .path-commander .switch input {
    display: none; }
  .path-commander .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #235196;
    -webkit-transition: .4s;
    transition: .4s; }
  .path-commander .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  .path-commander input:checked + .slider {
    background-color: #4ccfe0; }
  .path-commander input:focus + .slider {
    box-shadow: 0 0 1px #2196F3; }
  .path-commander input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px); }
  .path-commander .on {
    display: none; }
  .path-commander .on, .path-commander .off {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
    padding: 17px 19px;
    font-weight: bold; }
  .path-commander .on {
    left: 39%; }
  .path-commander .off {
    left: 59%; }
  .path-commander input:checked + .slider .on {
    display: block; }
  .path-commander input:checked + .slider .off {
    display: none; }
  .path-commander .slider.round {
    border-radius: 34px; }
  .path-commander .slider.round:before {
    border-radius: 50%; }
  .path-commander input {
    background-color: #fbfbfb; }
  .path-commander .layout-region-node-secondary {
    display: none; }
  .path-commander .layout-region-node-footer {
    display: -ms-flexbox;
    display: flex;
    justify-content: center; }
    .path-commander .layout-region-node-footer #edit-actions button {
      background: #4ccfe0;
      border: #4ccfe0;
      width: 178px;
      font-weight: bold; }
      .path-commander .layout-region-node-footer #edit-actions button:hover {
        background-color: #235196;
        text-decoration: none;
        transition: all ease-in 0.5s; }
  .path-commander label {
    display: none; }
  .path-commander fieldset {
    position: relative;
    width: 89%; }
  .path-commander .form-text {
    margin-top: 0px; }
  .path-commander :focus {
    outline: none;
    border: none;
    box-shadow: none; }
  .path-commander input[type="text"] {
    border-radius: 0px;
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px; }
  .path-commander input {
    border: 1px solid #ccc;
    padding: 7px 14px 9px;
    transition: 0.4s; }
  .path-commander input ~ .focus-border:before,
  .path-commander input ~ .focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #a5b8d4;
    transition: 0.2s;
    transition-delay: 0.2s; }
  .path-commander input ~ .focus-border:after {
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
    transition-delay: 0.6s; }
  .path-commander input ~ .focus-border i:before,
  .path-commander input ~ .focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #a5b8d4;
    transition: 0.2s; }
  .path-commander input ~ .focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    transition-delay: 0.4s; }
  .path-commander input:focus ~ .focus-border:before,
  .path-commander input:focus ~ .focus-border:after {
    width: 100%;
    transition: 0.2s;
    transition-delay: 0.6s; }
  .path-commander input:focus ~ .focus-border:after {
    transition-delay: 0.2s; }
  .path-commander input:focus ~ .focus-border i:before,
  .path-commander input:focus ~ .focus-border i:after {
    height: 100%;
    transition: 0.2s; }
  .path-commander input:focus ~ .focus-border i:after {
    transition-delay: 0.4s; }

/*# sourceMappingURL=default.css.map */
